/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./app/page.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
.page_increment__6FZav {
  margin: 30px;
  padding: 8px 20px;
  background-color: #01110A;
  border: 0;
  box-shadow: 0 0 2px 1px #909090;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: 900;
}


